<div class="table">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>ID</th>
          <th>payment deadline</th>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <!-- <th>Age</th> -->
          <th>Basic Salary</th>
          <th>City</th>
          <th>Province</th>
          <th>Action</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of dataUser; let i = index"  [ngClass]="{'strike': data.isChecked, 'near-deadline': isPaymentNearDeadline(data.paymentDeadline)}" (click)="goToDetail(data.id)">
          <td>{{i + 1 }}</td>
          <td>{{data.id }}</td>
          <td>{{data.paymentDeadline }}</td>
          <td>{{data.username }}</td>
          <td>{{data.name }}</td>
          <td>{{data.email}}</td>
          <!-- <td>{{data.age}}</td> -->
          <td>{{data.basicSalary}}</td>
          <td>{{data.city}}</td>
          <td>{{data.province}}</td>
          <td><a (click)="deleteUser(data.id); $event.stopPropagation()">
            <img src="https://img.icons8.com/?size=48&id=7837&format=png" width="20" height="20" alt="trashcan icon">
          </a>
           </td>
          <td>
            <div (click)="$event.stopPropagation()">
              <input [(ngModel)]="data.isChecked" type="checkbox" name="status" id="status" (change)="setStatus(i)" [checked]="data.isChecked" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="wrapper">
        <button (click)="goToForm()">Add New User</button>
      </div>
  </div>
  <div id="snackbar"></div>