<div class="container">
  <h1 class="title">Form Data Diri</h1>
  <app-form (userDataSubmit)="addUser($event)"></app-form>

  <div class="table">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Nama</th>
          <th>Email</th>
          <!-- <th colspan="3">Address</th> -->
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataUser, let i = index">
          <td>{{i + 1 }}</td>
          <td>{{data.name }}</td>
          <td>{{data.email}}</td>
          <td>
            <div>
              {{data.address?.city}}, {{data.address?.province}}, {{data.address?.zipcode}}
          </div>
          </td>
        </tr>
      </tbody>
  </table>
  </div>


 
  <!-- <h2 class="title" [style]="{color: backgroundColor}">{{title}}</h2>
  <p class="desc"> {{dataUser.name}} {{dataUser.address[0].province}}</p>
    <div class="address" *ngFor="let address of dataUser.address">
      {{address.city}}
    </div>
    {{randomId}}
    <app-button [buttonLabel]="labelButton1" [dataForChild]=dataUser (submitButton)="eventFromParent($event)"></app-button> -->
    <!-- <app-button [buttonLabel]="labelButton2" [dataForChild]=dataUser></app-button> -->
     <!-- <input placeholder="enter your name" [(ngModel)]="name"/>
     <p>Hasil input dari: {{name}}</p>
     <button (click)="updateName('John Doe')">Change to John Doe</button> -->


     <!-- <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
      <label for="name">Input your name</label>
      <input id="name" formControlName="name">
      <div class="validation-error" *ngIf="addUserForm.get('name')?.invalid && addUserForm.get('name')?.touched">
        Please input your name
      </div>


      <label for="phoneNumber">Input your phone number</label>
      <input id="phoneNumber" formControlName="phoneNumber">
      <div class="validation-error" *ngIf="phoneNumberForm?.errors?.['required'] && addUserForm.get('phoneNumber')?.touched">
        Please input your phone number
      </div>
 
      <div class="validation-error" *ngIf="phoneNumberForm?.errors?.['minlength'] && addUserForm.get('phoneNumber')?.touched">
        Character must be at least 9 digits
      </div>
      <div class="validation-error" *ngIf="phoneNumberForm?.errors?.['maxlength'] && addUserForm.get('phoneNumber')?.touched">
        Character must be under 14 digits
      </div>
 
      <button type="submit" [disabled]="addUserForm.invalid">Submit</button>
     </form> -->


     <!-- ----------------------------------------------------------------------- -->
     <!--                                  DAY 2                                  -->
     <!-- ----------------------------------------------------------------------- -->

     <!-- <div class="shown" *ngIf="isShown; else shownFalse">muncul</div>
     <div class="shown" *ngIf="!isShown">muncul ketika false</div>
     <ng-template #shownFalse>
      <p>false untuk ng template</p>
     </ng-template>

     

    <p>{{'12' | currency:'IDR':'symbol'}}</p>
    <p>{{'kenny' | reverse}}</p>
    <p>{{'kenny' | uppercase}}</p>
    <p>{{today | date}}</p>
    <p>{{today | date:'MM-d-YYYY'}}</p> -->

     <!-- <ul>
       <li *ngFor="let item of dataUser.address">
         {{item.city}}
         <div [ngSwitch]="item.zone">
           <div *ngSwitchCase="1" [ngStyle]="{color: item.zone === 1 ? 'red' : 'yellow'}">merah</div>
           <div *ngSwitchCase="2" [ngClass]="{'zone-safe': item.zone === 2}">biru</div>
           <div *ngSwitchCase="3" [ngClass]="item.zone === 3 ? 'zone-green' : 'zone-safe'">hijau</div>
           <div *ngSwitchDefault>kuning</div>
         </div>
       </li>
     </ul> -->
</div>